# Environments
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Version Control
.git/
.gitignore

# Database and secrets
omniquant.db
.env
*.log

# Docker and Docs
Dockerfile
docker-compose.yml
README.md

# IDEs
.vscode/
.idea/
